@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

<div style="text-align: center;">
    <!-- Details Button -->
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary mb-2" style="background-color: #a61f2f; color: #ffffff;width: 240px; display: block; margin: auto;">
        <i class="bi bi-eye" style="margin-right: 5px;"></i> @SharedLocalizer["Details"]
    </a>

    @if (User.IsInRole("Admin"))
    {
        <!-- Edit Button -->
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary mb-2" style="width: 240px; display: block; margin: auto;">
            <i class="bi bi-pencil" style="margin-right: 5px;"></i> @SharedLocalizer["Edit"]
        </a>

        <!-- Delete Button -->
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" style="width: 240px; display: block; margin: auto;">
            <i class="bi bi-trash" style="margin-right: 5px;"></i> @SharedLocalizer["Delete"]
        </a>
    }
</div>
