@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IStringLocalizer<SharedResources> SharedLocalizer

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">@SharedLocalizer["Hello"] @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Schedules", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">@SharedLocalizer["Logout"]</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">@SharedLocalizer["Register"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">@SharedLocalizer["Login"]</a>
    </li>
}
</ul>
