@model TopMovie_SemesterarbeitSSE.Models.Schedule
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@SharedLocalizer["Schedules"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ImagePath)
        </dt>
        <dd class="col-sm-10">
            <img class="rounded" src="@Url.Content(Model.Movie.ImagePath)" style="max-width: 250px; max-height: 250px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Duration) min.
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Theater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Theater.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> <br />
    }
    <a asp-action="Index">Back to List</a>
</div>

