@model TopMovie_SemesterarbeitSSE.Models.Schedule
@using Microsoft.Extensions.Localization
@using System.Globalization

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Details";
    var date = Model.Date.ToDateTime(TimeOnly.MinValue); // Convert DateOnly to DateTime
    var dayOfWeek = date.ToString("dddd", CultureInfo.InvariantCulture); // Get English day name
    var localizedDayName = SharedLocalizer[dayOfWeek];
}

<h1 class="mb-4">Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@SharedLocalizer["Schedules"]</h4>
        <hr />
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="rounded img-fluid" src="@Url.Content(Model.Movie.ImagePath)" alt="Movie image" />
            </div>
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-4">@SharedLocalizer["Time"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Time)</dd>

                    <dt class="col-sm-4">@SharedLocalizer["Date"]</dt>
                    <dd class="col-sm-8">
                        @localizedDayName, @Html.DisplayFor(modelItem => Model.Date)
                    </dd>

                    <dt class="col-sm-4">@SharedLocalizer["Movie"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Movie.Title)</dd>

                    <dt class="col-sm-4">@SharedLocalizer["Description"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Movie.Description)</dd>

                    <dt class="col-sm-4">@SharedLocalizer["Cast"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Movie.Cast)</dd>

                    <dt class="col-sm-4">@SharedLocalizer["Duration"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Movie.Duration) min.</dd>

                    <dt class="col-sm-4">@SharedLocalizer["Theater"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Theater.Name)</dd>

                    <dt class="col-sm-4">@SharedLocalizer["Cinema"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Theater.Cinema.Name), @Html.DisplayFor(model => model.Theater.Cinema.City)</dd>
                    
                </dl>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">@SharedLocalizer["Edit"]</a>
        }
        <a asp-action="Index" class="btn btn-secondary">@SharedLocalizer["Back to List"]</a>
    </div>
</div>
