@model IEnumerable<TopMovie_SemesterarbeitSSE.Models.Schedule>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Schedules";
}

<h1>Schedules</h1>

@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theater.Capacity)
            </th>

            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@item.Movie.ImagePath" target="_blank">
                    <img src="@item.Movie.ImagePath" style="max-width: 250px; max-height: 250px" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theater.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theater.Capacity)
            </td>
            <td>
                @await Html.PartialAsync("_CRUDPartial", item)
            </td>
        </tr>
    }
    </tbody>
</table>