@model IEnumerable<TopMovie_SemesterarbeitSSE.Models.Cinema>

@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Cinemas"];
}

@if (User.IsInRole("Admin"))
{
<h1>@SharedLocalizer["Cinemas"]</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["Logo"]
            </th>
            <th>
                @SharedLocalizer["Name"]
            </th>
            <th>
                @SharedLocalizer["City"]
            </th>            
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImagePath" style="max-width: 100px; max-height: 100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @await Html.PartialAsync("_CRUDPartial", item)
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    await Html.RenderPartialAsync("_AccessDenied", "Access denied");
}
