@model IEnumerable<TopMovie_SemesterarbeitSSE.Models.Movie>

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Movies"];
}

@if (User.IsInRole("Admin"))
{
    <h1>@SharedLocalizer["Movies"]</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["ImagePath"]
            </th>
            <th>
                @SharedLocalizer["Title"]
            </th>
            <th>
                @SharedLocalizer["Description"]
            </th>
            <th>
                @SharedLocalizer["Genre"]
            </th>
            <th>
                @SharedLocalizer["Director"]
            </th>
            <th>
                @SharedLocalizer["Cast"]
            </th>
            <th>
                @SharedLocalizer["Duration"]
            </th>

            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@item.ImagePath" target="_blank">
                    <img src="@item.ImagePath" style="max-width: 100px; max-height: 100px;" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) min.
            </td>
            <td>
                @await Html.PartialAsync("_CRUDPartial", item)
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    await Html.RenderPartialAsync("_AccessDenied", "Access denied");
}
