@model IEnumerable<TopMovie_SemesterarbeitSSE.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

@if (User.IsInRole("Admin"))
{
<h1>Movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>

            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@item.ImagePath" target="_blank">
                    <img src="@item.ImagePath" style="max-width: 100px; max-height: 100px;" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @await Html.PartialAsync("_CRUDPartial", item)
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    await Html.RenderPartialAsync("_AccessDenied", "Access denied");
}
