@model TopMovie_SemesterarbeitSSE.Models.Theater

@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create"];
}

@if (User.IsInRole("Admin"))
{
<h1>@SharedLocalizer["Create"]</h1>

<h4>@SharedLocalizer["Theater"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@SharedLocalizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label">@SharedLocalizer["Capacity"]</label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaId" class="control-label">@SharedLocalizer["Cinema"]</label>
                <select asp-for="CinemaId" class ="form-control" asp-items="ViewBag.CinemaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value=@SharedLocalizer["Create"] class="btn btn-success" style="margin-top: 5px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back to List"]</a>
</div>
}
else
{
    await Html.RenderPartialAsync("_AccessDenied", "Access denied");
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
